
/* Main game window
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.game-main-window {
    margin-top: 25px;
}

.typing-window {
    position: relative;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.49);
    overflow-y: scroll;
    user-select: none;
    cursor: default;
}

.text-to-be-typed span {
    padding: 0 1px;
    border-radius: 1px;
}

@media (min-width: 1200px) {
    .typing-window {
        overflow-y: inherit;
    }
}

.typing-window::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #B4B4B4;
}

.typing-window::-webkit-scrollbar {
    width: 8px;
    background: rgba(255, 255, 255, 0.2);
}

.typing-window::-webkit-scrollbar-thumb {
    border-radius: 6px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #E4E4E4;
}

.typing-window p {
    font-size: 20px;
    line-height: 2.0;
}

.hud {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.49);
}

.hud p {
    margin: 0;
    font-size: 18px;
    color: #4C4C4C;
}

.hud-item {
    display: inline-block;
    padding: 3px 20px 10px 20px;
}

.progressbar {
    width: 0%;
}

.wpm, .accu {
    font-weight: 600;
}

.current-letter {
    background-color: #434343;
}

.fail {
    color: #FF542C;
}

.ok {
    color: #ABABAB;
}




.clock {
    position: absolute;
    bottom: -20px;
    right: 8px;
}

.clock p {
    font-family: "Russo+One", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: $minty-green;
}

.controls {
    margin-right: 5px;
}

.volume-box {
    position: absolute;
    bottom: 28px;
    right: 60px;
    color: white;
}

.volume-box a {
    color: white;
    font-size: 18px;
}

.volume-box a:hover, .off {
    color: #424242;
}

.hidden-reset {
    opacity: 0;
    transform: translateX(600px);
}

.show-reset {
    opacity: 1;
    transform: translateX(0);
}

.tip{
	display: inline;
}

/* Keyboard
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#keyboard-wrapper{
	margin-top: 30px;
	text-align: center;

}
.keyboard{
	font-family: "Russo+One", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.2;
	position: relative;
	background-color: #D5D5D5;
	border-radius: 10px;
	padding: 15px;
	margin-left:auto;
	margin-right: auto;
	display: inline-block;
	border: 1px solid #B3B3B3;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.49);
    box-sizing: border-box;
}
.top-row{
	margin: 6px 0;
	height: 50px;
}


.key-guide-nxt{
	border-color: #CFCFCF !important;
	background-color: $minty-green !important;
}

.key-guide-fail{
	border-color: #CFCFCF !important;
	background-color: #FF2154 !important;
	color: white !important;
    animation-name: fail-blick;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes fail-blick {
    0% {
        background-color: #FF2154;
    }
    50% {
        background-color: #FDFDFD;
    }
    100% {
        background-color: #FF2154;
    }
}
.keyboard-key{
	height: 50px;
	background-color: #FDFDFD;
	float: left;
	border-radius: 5px;
	margin: 0 2px;
	border: 2px solid #CFCFCF;
	color:#919191;
	box-sizing: border-box;
}

.keyboard-key span{
	display:block;
	margin-top: 1px; 

}
.muted-key{
	background-color: #E6E6E6 !important;
}
.small-key{
	width: 50px;
}
.backspace-key{
	width:100px;
}
.tab-key{
	width:80px;
}
span.letter{
	margin-top: 6px; 
}
.enter-key{
	position: absolute;
	right: 14px;
	width:72px;
	height:112px;
	float: right;
	border: none;
	background-color: transparent;
	box-sizing: border-box;
}
.enter-key-upper-shape{
	width:72px;
	height: 50px;
	background-color: #FDFDFD;
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border: 2px solid #CFCFCF;
	box-sizing: border-box;
}
.enter-key-low-shape{
	position: absolute;
	bottom: 2px;
	right: 0px;
	width: 52px;
	height: 62px;
	background-color: #FDFDFD;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 2px solid #CFCFCF;
	border-top: none;
	box-sizing: border-box;
	z-index: 2;
}
.shift-key{
	width: 70px;
}
.shift-key-right{
	width: 135px;
}
.space-key{
	width: 282px;
}
/* Results window
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.results-window {
    opacity: 0;
    margin-top: 15px;
}

.ct-series-a .ct-line {
    stroke: $minty-green;
}

.ct-series-a .ct-point {
    stroke: #2CC07C;
    stroke-width: 10px;
}

.ct-grid {
    stroke: #CFCFCF;
}

.ct-label {
    fill: #CFCFCF;
    color: #CFCFCF;
    font-size: 14px;
}

.show-results {
    opacity: 1;
    transition: 1s ease-in;
}

.wpm-max, .wpm-avg, .accu-two, .title-wpm, .title-accu {
    display: inline-block;
    margin: 0 10px;
}

.result {
    color: $minty-green;
}

.accuracy p {
    margin-bottom: 5px;
}

.stars i {
    color: #E2FF6F;
    margin: 0 2px;
    font-size: 30px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

.motivation-message p {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 30px 0;
}

.stars p {
    margin-bottom: 0;
}

.y-axis {
    margin-bottom: 5px;
}

.x-axis {
    margin-top: -15px;
}

/* Progressbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.meter {
    height: 7px;
    position: relative;
    padding: 0px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin-bottom: 2px;
}

.meter > span {
    display: block;
	height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: $minty-green;
    background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}